*{
    margin: 0;
    padding: 0;
    
    }
    
    .cabeçalho {
        background-color: #030303;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
    }
    
    .cabeçalho-imagem{
        width: 18%;
        margin-right: 14cm;
    }

    .estudante-titulo{
        text-align: center;
        padding: 50px;
    }
    
    .cabecalho-lista-item{
        color: white;
        display: inline-block;
        margin: 0% 16px;
        font-size: 18px;
    }

    .estudante-imagem{
        padding: 24px 200px;
        width: 150px;
        align-items: left;
    }
    
    .estudante-icone{
        width: 20px;
    }
    
.estudante-img.div{
    align-items: left;
    text-align: center;
}

    .estudante-coisas-div{
        text-align: center;
        align-items: center;
        color: black;
        
    }
    
    .estudante-titulo{
        text-align: center;
        padding: 50px;
       font-size: 26px;
    }
    

.pag-alunos{
    background-image: linear-gradient(#B2B2B2,#313131);
}

.estudante-todos{
    display: grid;
    grid-template-rows: 25% 25% 25% 25% 25%;
    background-image: linear-gradient(#B2B2B2,#313131);
}

.estudante-descrição{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0px;
 
}

.estudante-nome{
    padding: 0px 210px;
    color: white;
}

.estudante-div{
    display: flex;
    padding: 24px 0;
    background-image: linear-gradient(#B2B2B2,#787878);
}

.rodape{
    background-color: black;
    text-align: center;
   
}

.imagem-rodape{
   height: 40px;
   padding: 12px 0;
  width: 4cm;
}