<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola</title>
<link rel="stylesheet" href="/public/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
     
   <header class="cabeçalho"> 
        <img class="cabeçalho-imagem" src="/public/img/alurastart logo.png" alt="logo da alura start">
     <ul>
      <a href="index.html"><li class="cabecalho-lista-item">Escola</li></a>
      <a href="alunos.html"><li class="cabecalho-lista-item"> Estudantes</li></a>
     </ul class="cabeçalho-lista">
     </header>
    <section class="escola">
      
      <div class="escola-div-conteudo">
         <h2 class="escola-titulo">Sobre a escola</h2>
         <p class="escola-texto-um">O Colégio Emílio de Menezes é uma instituição de ensino localizada no bairro Capão Raso em Curitiba, Paraná. Fundada em 1961, a escola oferece ensino infantil, fundamental e médio, além de cursos profissionalizantes. O colégio possui uma estrutura completa, com salas de aula equipadas, biblioteca, laboratórios de informática, ciências e línguas, quadras poliesportivas e um amplo espaço de convivência. Seu objetivo é proporcionar uma formação completa e de qualidade aos alunos, buscando sempre aprimorar seus métodos de ensino e aperfeiçoar a educação como um todo.</p>   
      </div>

      <img class="escola-imagem" src="/public/img/image 1.png" alt="colégio emilio de menezes">
   <img class="escola-intervalo" src="/public/img/image 2.png" alt="alunos no intervalo">

   <div class="escola-div-conteudo-emilio">
      <h2 class="escola-titulo">Quem foi Emílio de Menezes?</h2>
      <p class="escola-texto-um-em">Emílio de Menezes foi um escritor e poeta brasileiro do século XIX, nascido em 1866 na Bahia. Destacou-se por sua poesia romântica, explorando temas como o amor e a natureza. Além de suas contribuições literárias, foi uma figura importante na vida cultural da época, participando ativamente de grupos literários e intelectuais. Seu legado perdura como um expoente do romantismo literário brasileiro.</p>   
   </div>

   <img class="escola-imagem" src="/public/img/Emílio_de_Meneses_1911.png" alt="emilio de menezes">


</section>



<footer class="rodape">
<img class="imagem-rodape" src="/public/img/alurastart logo.png" alt="logo alura start">
</footer>
</body>
</html> 
  